<ngb-accordion [closeOthers]="true" activeIds="info">
	<ngb-panel id="info">
		<ng-template ngbPanelTitle>
			<span>Base info</span>
		</ng-template>
		<ng-template ngbPanelContent>
      <ktbz-base-info-form></ktbz-base-info-form>

		</ng-template>
	</ngb-panel>

  <ngb-panel id="summary">
		<ng-template ngbPanelTitle>
			<span>Summary</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>

  <ngb-panel id="education">
		<ng-template ngbPanelTitle>
			<span>Education</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>

  <ngb-panel id="experience">
		<ng-template ngbPanelTitle>
			<span>Experience</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>

  <ngb-panel id="projects">
		<ng-template ngbPanelTitle>
			<span>Projects</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>

  <ngb-panel id="skills">
		<ng-template ngbPanelTitle>
			<span>Skills</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>

  <ngb-panel id="languages">
		<ng-template ngbPanelTitle>
			<span>Languages</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>

  <ngb-panel id="interests">
		<ng-template ngbPanelTitle>
			<span>Interests</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>

  <ngb-panel id="consent">
		<ng-template ngbPanelTitle>
			<span>Consent</span>
		</ng-template>
		<ng-template ngbPanelContent>
		</ng-template>
	</ngb-panel>
</ngb-accordion>
